.list li{float:left;width:15vw;height:12vh;
        justify-content: center;
        align-content: center;
         border: 1px solid #dee2e6;
            padding: 1rem;}
          ul{text-align: center;
          list-style-type: none;}

          .container {
    /*border: solid 1px #ff0000;*/
              position: relative;
    zoom: 1; /* IE6&7 */
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.center {
display: flex;
  align-items: center;
  justify-content: center;
}

.button_top {
     align-self: center;
     margin: 0 1rem 0 1rem;
}