<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film library</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        .pagination {
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="container mt-5" >
    <div class="center">
        <a href="{% url 'cinemadb:get_repertoire' %}" class="btn btn-primary button_top">Repertoire</a>
        <a href="{% url 'cinemadb:index' %}" class="btn btn-primary button_top">Home</a>
    </div>
</div>
<div class="container mt-5">
    <h2>Film library</h2>
    <input class="form-control mb-3" id="searchInput" type="text" placeholder="Search...">

    <select class="form-control mb-3" id="filterInput">
        <option value="">Filter by duration</option>
        <option value="less_than_100">Less than 100</option>
        <option value="greater_than_100">Greater than 100</option>
    </select>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Production year</th>
                <th>Age restriction</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Director</th>

            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table rows will be inserted here via JavaScript -->
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" id="prevPage">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" id="nextPage">Next</a></li>
        </ul>
    </nav>
</div>

<script>

    let data = [];
    const rowsPerPage = 10;
    let currentPage = 1;

    function fetchData() {
        $.getJSON("{% url 'cinemadb:get_films' %}", function(response) {
            data = response;
            renderTable(data);
        });
    }

    function renderTable(data) {
        const tableBody = document.getElementById('tableBody');
        tableBody.innerHTML = '';

        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;
        const paginatedData = data.slice(start, end);
        let baseUrl="{% url 'cinemadb:detail_film' 0 %}";
        paginatedData.forEach(item => {
            let id = item.film_id;
            let filmUrl = baseUrl.replace('/0/', `/${id}/`);
            const row = `<tr>
                            <td><a href="${filmUrl} ">${item.tytul}</td>
                            <td>${item.rok_produkcji}</td>
                            <td>${item.grupa_wiekowa}</td>
                            <td>${item.opis_krotki}</td>
                            <td>${item.czas_trwania}</td>
                            <td>${item.imie} ${item.nazwisko}</td>
                         </tr>`;
            tableBody.innerHTML += row;
        });
    }

    function filterData() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const filterInput = document.getElementById('filterInput').value;

        return data.filter(item => {
            let durationCondition = true;
            if (filterInput === "less_than_100")
                durationCondition = item.czas_trwania < 100;
            else if (filterInput === "greater_than_100")
                durationCondition = item.czas_trwania >= 100;
            return (item.tytul.toLowerCase().includes(searchInput) && durationCondition);
        });
    }

    document.getElementById('searchInput').addEventListener('input', () => {
        currentPage = 1;
        renderTable(filterData());
    });

    document.getElementById('filterInput').addEventListener('change', () => {
        currentPage = 1;
        renderTable(filterData());
    });

    document.getElementById('prevPage').addEventListener('click', (e) => {
        e.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            renderTable(filterData());
        }
    });

    document.getElementById('nextPage').addEventListener('click', (e) => {
        e.preventDefault();
        if ((currentPage * rowsPerPage) < filterData().length) {
            currentPage++;
            renderTable(filterData());
        }
    });

    fetchData();
</script>

</body>
</html>
